<style type="text/css">
        header {
            display: inline-block;
            word-spacing: 10px;
            position: absolute;
            font-style: ariel;
            font-size: 75%;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        input {
            font-size: 18pt;
            height: 42px;
            width: 300px;
            background-color: white;
            background-image: url(Google_microphone_logo.png);
            background-position: 285px 10px;
            background-repeat: no-repeat;
            padding-left: 10px;
        }
        /* p {
            display: inline-block;
        } */
        form {
            text-align: center;
        }
        /* p {
            word-spacing: 50px;
            /* display: inline-block; */
        /* } */
        div {
            word-spacing: 30px;
            display: inline-block;
        }
        footer {
            background-color: rgb(187, 182, 182);
            margin-top: 300px;
            padding: 20px;
            /* text-align: center; */
            word-spacing: 10px;
            display: inline-block;
            /* position: relative; */
            font-style: ariel;
            font-size: 75%;
            position: absolute;
        }
        .header_right_justify {
            text-align: left;
            margin-left: 475px;
        }
        .footer_right_justify {
            text-align: right;
            margin-left: 340px;
        }
        .left_justify {
            text-align: left;
        }
</style>